body {
    background-color: #040a14;
    height: 7000px;

}

.page1 {

    height: 1600px;
    background-color: #040a14;
    width: 80%;
    /* background-color: #040a14; */
    margin: 0 auto;

}






.nav {

    height: 70px;
    background-color: #040a14;
    width: 100%;
    display: flex;

}



.div1 {
    display: flex;
    width: 25%;
    align-items: center;

}



.div1 img {
    height: 50%;
}


.div1 h1 {
    color: #e8e9ec;
    padding-left: 15px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div2 {
    display: flex;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.div2 h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;

    font-weight: 600;
    color: #9BA3B4;
}


.div3 {


    display: flex;
    width: 44%;
    align-items: center;
    justify-content: center;

    padding-top: 9px;

}

.div3 input {
    height: 59%;
    width: 36%;

    text-align: center;

    font-weight: 700;
    font: 1.4em sans-serif;
    opacity: 0.6;

}

.div3 img {
    height: 40%;
    margin-right: 6px;
    background: #000;

}


.div3 button {
    height: 70%;
    font-size: 20px;
    font-weight: 600;
    color: white;
    width: 24%;
    background-color: #0078D4;
    margin-left: 15px;
}

h4:hover {
    color: rgba(255, 251, 251, 0.671);
    cursor: pointer;
}



button:hover {
    opacity: 0.9;
    cursor: pointer;
}





.centext {
    width: 100%;
    height: 600px;

}


.centext h1 {
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: rgb(195, 208, 229);
    text-align: center;


}


.b1 {
    height: 2.9em;
    width: 16em;
    background-color: #0078D4;
    color: #e8e9ec;
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-right: 10px;
    border-radius: 5px;
}







.b2 {
    height: 3em;
    width: 9em;
    color: #fff;
    background-color: #555555c8;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 5px;
    transition: #60656b 0.3s ease;
    border: 1px solid black;
    margin-left: 10px;

}




.tdiv {
    display: flex;
    align-items: center;
    justify-content: center;

}

.tdiv a {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #0078D4;
    letter-spacing: 2px;
    font-family: serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
}

.tdiv h4 {
    color: white;

}

.vdiv {
    width: 100%;
    display: flex;
    margin-right: 190px;

    height: 900px;

}

.vdiv video {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 90px solid #1D7DFC;
    border-radius: 10px;

}






.page2 {
    height: 1600px;

    width: 80%;
    /* background-color: #040a14; */


}








.cards {
    margin-top: 200px;
    padding-top: 40px;
    height: 450px;
    width: 100%;
    /* background-color: aqua; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.card1 {
    border: 3px solid rgb(184, 54, 11);
    border-radius: 8%;
}


.card1 h2 {
    padding-left: 4px;
    font-family: monument;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
}

.card1 p {
    font-size: 20px;
    font-weight: 500;
    color: rgb(190, 186, 186);
    text-align: center;
}


.card1 img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}


.card2 {
    border: 3px solid rgba(96, 232, 144, 0.853);
    border-radius: 8%;
}


.card2 img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    padding: 2px 2px;
}





.card2 h2 {
    font-family: monument;
    font-weight: 700;
    color: rgb(255, 255, 255);
}






.card2 p {
    font-size: 20px;
    font-weight: 500;
    color: rgb(190, 186, 186);
    text-align: center;
}








.card3 {
    border: 3px solid rgb(210, 218, 70);
    border-radius: 8%;
}


.card3 img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    padding: 7px 7px;
}





.card3 h2 {
    font-family: monument;
    font-weight: 700;
    color: rgb(255, 255, 255);
}






.card3 p {
    font-size: 20px;
    font-weight: 500;
    color: rgb(190, 186, 186);
    text-align: center;
}

.panel1 {
    display: flex;
    margin-top: 100px;
}

.tp1 {
    width: 30%;

}

.tp1 h2 {
    font-family: monument;
    font-size: 70px;
    text-align: start;
    color: #e8e9ec;
}



.tp1 p {
    letter-spacing: 2px;
    text-align: start;
    font-size: 20px;
    color: white;
}

.tp1 a {
    font-size: 15px;
    color: #83b8ff;
}




.tp1 {
    width: 30%;
    margin-right: 30px;
}




.panel2 {
    display: flex;
    margin-top: 100px;
}


.tp2 {
    width: 30%;
    margin-right: 30px;
}

.tp2 h2 {
    font-family: monument;
    font-size: 70px;
    text-align: start;
    color: #e8e9ec;
}



.tp2 p {
    letter-spacing: 2px;
    text-align: start;
    font-size: 20px;
    color: white;
}

.tp2 a {
    font-size: 15px;
    color: #83b8ff;
}


.picp {
    width: 70%;
}




.picp img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}




.panel3 {
    display: flex;
    margin-top: 100px;


}

.tp3 {
    width: 30%;
    margin-right: 30px;
}

.tp3 h2 {
    font-family: monument;
    font-size: 60px;
    text-align: start;
    color: #e8e9ec;
}



.tp3 p {
    letter-spacing: 2px;
    text-align: start;
    font-size: 20px;
    color: white;
}






.langpanel {
    width: 70%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}



.l1,
.l2,
.l3,
.l4,
.l5,
.l6,
.l7,
.l8,
.l9,
.l10,
.l11,
.l12 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.panel4 {
    display: flex;
    margin-top: 100px;
}

.tp4 {
    width: 30%;
    margin-right: 110px;
}


.tp4 h2 {
    font-family: monument;
    font-size: 40px;
    text-align: start;
    color: #e8e9ec;
}



.tp4 p {
    letter-spacing: 2px;
    text-align: start;
    font-size: 20px;
    color: white;
}

.tp4 a {
    font-size: 15px;
    color: #83b8ff;
}

.picp {
    width: 70%;
}

.picp4 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}






.panel5 {
    display: flex;
    margin-top: 100px;
}

.tp5 {
    width: 30%;
    margin-right: 90px;
}


.tp5 h2 {
    font-family: monument;
    font-size: 40px;
    text-align: start;
    color: #e8e9ec;
}



.tp5 p {
    letter-spacing: 2px;
    text-align: start;
    font-size: 20px;
    color: white;
}

.tp5 a {
    font-size: 15px;
    color: #83b8ff;
}

.picp {
    width: 70%;
}

.picp img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}




.panel6 {
    margin-top: 100px;
}



.panel6 h1 {
    font-family: monument;
    font-size: 60px;
    text-align: start;
    color: #e8e9ec;
    margin-left: 270px;
}



.panel6 p {
    letter-spacing: 2px;
    text-align: start;
    font-size: 20px;
    color: white;
    
}



.fpanel {
    width: 100%;
    align-items: start;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 30px;

}



.f1,
.f2,
.f3,
.f4,
.f5,
.f6,
.f7,
.f8 {
    padding: 5px;

    border-radius: 4px;
}